$eleSize: 50px;
$columnWidth: 190px;

.bracket {
	height: 900px;
	width: 800px;
	display: flex;
	flex-flow: row nowrap;
}

.bracket-header {

}

.bracket-body {
	width: $columnWidth;
	height: 800px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

.ele {
	width: $columnWidth;
	position: relative;
	font-size: smaller;
	&.c8 {
		height: $eleSize;
	}
	&.c4 {
		height: $eleSize*2;
	}
	&.c2 {
		height: $eleSize*4;
	}
	&.c1 {
		height: $eleSize*8;
	}
}

.game-top, .game-bottom {
	padding: 0 5px;
	position: absolute;
}

.game-top {
	top: -18px;
}

.game-bottom {
	bottom: -18px;
}

.team {
	cursor: default;
	width: $columnWidth;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	transition: all .25s linear;
	-webkit-transition: all .25s linear;
	.country {
		text-transform: capitalize;
		&.highlighted {
			font-weight: bold;
		}
	}
}

.score {
	width: 20px;
	text-align: right;
}

.won-game {
	font-weight: bold;
}

.upperLine, .lowerLine {
	height: 50%;
	border: 2px black solid;
	border-left-width: 0;
	transition: all .25s linear;
	-webkit-transition: all .25s linear;
}

.upperLine {
	border-bottom-width: 0;
	&.highlighted {
		box-shadow: 3px -3px 4px $highlighted, inset -3px 3px 5px $highlighted;
	}
}

.lowerLine {
	border-top-width: 0;
	&.highlighted {
		box-shadow: 3px 3px 4px $highlighted, inset -3px -3px 5px $highlighted;
	}
}

.column-date {
	text-align: center;
}

.winner-divider {
	height: 50%;
	position: relative;
	&.winner-line {
		border-top: 2px black solid;
	}
	.winner-name {
		text-align: center;
		padding: 0 5px;
		position: absolute;
		top: -20px;
		width: $columnWidth;
		font-weight: bold;
		font-size: smaller;
	}
	.trophy-container {
		top: -60px;
		text-align: center;
		width: $columnWidth;
		position: absolute;
		.trophy {
			-webkit-filter: opacity(25%);
			filter: opacity(25%);
		}
	}
}
