@import 'constants';
@import 'mixins';
@import 'group-styles';
@import 'knockout-styles';
@import 'slider';
@import 'loader';

html {
	background-color: #000;
}

body::before {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: url('../img/background.jpg') top left repeat scroll;
	background-attachment: fixed;
	@include coverBackground();
	@include blur(5px);
	z-index: -150;
}

html, body, #app, wrapper {
	position: relative;
	min-height: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.centre {
	width: $width;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	justify-content: space-between;
}


///////// HEADER //////////
.head {
	position: absolute;
	top: 0;
	height: 50px;
	width: 100%;
	display:flex;
	justify-content: center;
	background-color: #000;
	color: #FFF;
}

header {
	h1 {
		margin-top: 5px;
		margin-left: 10px;
		.sl {
			font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif;
			font-weight: bolder;
		}
		.logic {
			font-weight: normal;
		}
	}
}
.nav {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 10px;

	li {
		display:inline-flex;
		font-size: 1em;
		line-height: 40px;
		height: 40px;
		margin: 0 10px;
		a {
			color: #FFF;
			text-decoration: none;
		}

	}
	.active {
		color: #FA1;
	}
}

/////////// MAIN ///////////

.app {
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: center;
}

.fade {
	flex: 1;
	&.leftFade {
		background-image: linear-gradient(to left, $background, $fadeTo);
	}
	&.rightFade {
		background-image: linear-gradient(to right, $background, $fadeTo);
	}
}

.container {
	background-color: $background;
}

.content {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-grow: 0;
	flex-shrink: 0;
	position:relative;
}

///////////////// VIDEO ///////////
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  @include blur(5px);
}
